.DS_Store
.idea
.vscode
._.DS_Store
._Myanmar_MUA_font.ttf
assets/fonts/._Myanmar_MUA_font.ttf
assets/._icons
._.gitignore
._index.html
._main.js
._manifest.json
._serviceWorker.js
._style.css
._style.min.css
style.css
._styles
/scripts/._language-boilerplate.js
scripts/._one-page-nav.js
scripts/jQuery/._jquery.js